body {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
}

.layout--background {
    background: url(../styles/assets/bg-app2.jpg) no-repeat center center fixed;
    background-size: auto 100%;
}

.container-home {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.layout--padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

/* Add padding to the container*/
.layout--padding--menu {
    padding-left: 5%;
    padding-right: 5%;
}

/* Add padding to the container in admin menu tab*/
.layout--pading--admin-menu {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.layout--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Spacing between menu item in client*/
.layout--menu {
    margin-bottom: 0%;
}

.title {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 5vh !important;
}

.l-center {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.l-home--title {
    font-size: 100px;
}

.l-home {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 25%;
}

.l-reserve {
    margin-top: 3vh;
}

.l-reserve-title {
    margin-bottom: 5vh;
}

.l-home__row {
    height: 75px;
    width: auto;
}

.l-home__row__title {
    /* height: 200px;
    position: absolute; */
    width: 267px;
    background: url(../styles/assets/logo.png) no-repeat !important;
}

.l-reserve__row {
    padding-left: 50px;
    padding-right: 50px;
    word-wrap: normal;
}

.l-reserve__row--small {
    padding-left: 50px;
    padding-right: 50px;
    word-wrap: normal;
}

.l-reserve-details__row {
    font-size: 20px;
}

.modal-header {
    border: 0px !important;
}

.h1,
h1 {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.big-button {
    width: 263px;
    height: 52px;
}

.big-button--text {
    font-size: 14px !important;
    color: #000000 !important;
}

.big-button--sign-in {
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #FFFFFF !important;
    /* Gray 1 */

    border: 1px solid #333333 !important;
    border-radius: 12px !important;
}

.big-button--register {
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #AE956D !important;
    color: #FFFFFF !important;
    border-radius: 12px !important;
    border-color: #AE956D !important;
}


.big-button--continue {
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #CDCCC8 !important;
    color: #FFFFFF !important;
    border-radius: 12px !important;
    border-color: #CDCCC8 !important;
}

.divider {
    border-top: 3px solid;
    width: 100%;
}


.form-control {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #000000 !important;
}

.container-home {
    margin-top: 50px;
}

.layout--padding {
    padding-right: 5%;
    padding-top: 3%;
}

/* Add padding to the container*/
.layout--padding--menu {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
}

/* Add padding to the container in admin menu tab*/
.layout--padding--admin-menu {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.layout--margin--admin-menu__button-list {
    margin-top: 40px;
}

.layout--margin--admin-menu__button {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    width: inherit;
    height: 70px;
}

.layout--margin--admin-menu__button:hover {
    background-color: black;
    color: white;
}


.layout--pading--admin-table {
    vertical-align: middle;
    margin: auto;
    position: absolute;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.layout--margin--admin-table {
    margin-top: 50px;
    margin-bottom: 50px;
}

.layout--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Spacing between menu item in client*/
.layout--menu {
    margin-bottom: 5%;
}

.layout--btn {
    width: 100% !important;
    height: 45px !important;
    margin-top: 20px !important;
}

.btn-primary {
    color: #fff;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.title {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
}

.l-center {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.l-home--title {
    font-size: 100px;
}

.l-home {
    margin: auto;
    position: absolute;
    top: 30%;
}

.l-home__row {
    height: 100px;
    margin-bottom: 50px;
}

.big-button {
    height: 200px;
    width: inherit;
}

.big-button--text {
    font-size: 40px !important;
    /* font-family: "OpenSans"; */
}


.menu-item {
    position: relative;
    border-radius: 20px !important;
}

.menu-item-card--photo {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    width: 25% !important;
    height: 15vw;
    float: left;
    flex-direction: column;
}

.menu-item-card--body {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    width: auto;
    height: 15vw;
    flex-direction: column;
    padding-top: 2% !important;
    padding-bottom: 2% important;
}

.menu-item-card--title {
    font-weight: bold !important;
    font-size: 18px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.menu-item-card--text {
    font-size: 12px !important;
}

.menu-item-card--row {
    margin-bottom: 10px;
}


.menu-item-card--icon-group {
    font-weight: 400;
}

.menu-item-card--icon-delete {
    position: absolute;
    right: 4%;
    top: 5%;
}

.menu-item-card--icon-star {
    position: absolute;
    right: calc(4% + 25px + 25px);
    top: 5%;
    color: grey;
}

.menu-item-card--icon-star-active {
    position: absolute;
    right: calc(4% + 25px + 25px);
    top: 5%;
    color: orange;
}

.menu-item-card--icon-edit {
    position: absolute;
    right: calc(4% + 25px);
    top: 5%;
}

.fc-axis {
    width: 70px !important;
}

.fc-left h2 {
    font-size: 1.2em !important;
}

.modal-body {
    overflow: scroll !important;
}

.modal-calendar {
    overflow: scroll !important;
}

.nav-tabs {
    font-size: 15px !important;
    padding: 0px !important;
    margin-bottom: 10px !important;
}

.nav-tabs .nav-link {
    color: #727272 !important;
}

.nav-link:hover {
    border: none !important;
}

.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-radius: 20px !important;
    display: inline-block;
    width: auto;
    height: auto;
    box-sizing: border-box !important;
}


.navbar-toggler {
    color: #ffffff !important;
    border: none !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
    text-align: center !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 25px !important;
}

.navbar-nav {
    color: #918585 !important;
    font-size: 18px;
}

.bg-black {
    background-color: #000000 !important;
}


.navbar-toggle.collapsed .icon:before {
    content: '\f00d' !important;
}

.layout--menu-action {
    display: block;
    top: 30%;
}

.order-status-btn {
    font-size: 14px !important;
}

.order-card {
    min-width: 100vw;
}

.order-card .card-title {
    font-size: 16px;
    font-weight: bold;
}

.order-card .card-body {
    padding-bottom: 10px;
    padding-top: 5px;
}

.order-card .card-subtitle {
    font-size: 14px;
    font-weight: medium;
    font-style: italic;
    padding-bottom: 10px;
}

.order-notes {
    font-weight: normal;
    font-style: italic;
}

.order-time {
    margin-top: 16px;
}


.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
}

.alert-hidden {
    display: none;
    opacity: 0;
    transition: all 250ms linear;
}

.login-alert {
    margin-top: 100px;
    width: 267px;
    margin-left: auto;
    margin-right: auto;
}