body {
    font-family: 'Sen', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
}

.layout--background {
    background: url(../components/assets/bg-app.png) no-repeat center center fixed;
    background-size:auto 100%;
}

.container-home {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.layout--padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

/* Add padding to the container*/
.layout--padding--menu {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
}

/* Add padding to the container in admin menu tab*/
.layout--pading--admin-menu {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.layout--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Spacing between menu item in client*/
.layout--menu {
    margin-bottom: 5%;
}
.title {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 5vh !important;
}
.l-center {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.l-home--title {
    font-size: 100px;
}

.l-home {
    margin: auto;
    position: absolute;
    top: 10%;
}
.l-reserve {
    /* margin: auto; */
    position: absolute;
    top: 20%;
}

.l-home__row {
    height: 200px;
    margin-bottom: 50px;
}
.l-home__row__title {
    /* height: 200px;
    margin-bottom: 50px; */
    position: absolute;
    width: 267px;
    height: 134px;
    left: 0px;
    top: 30px;
    background: url(../components/assets/logo.png) no-repeat !important;
    /* z-index: -20; */
}

.l-reserve__row {
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    word-wrap: normal;
}
.l-reserve__row--small {
    padding-left: 50px;
    padding-right: 50px;
    word-wrap: normal;
}

.l-reserve-details__row {
    font-size: 20px;
}


.big-button {
    width: 263px;
    height: 52px;
}
.big-button--text {
    font-size: 14px !important;
    color: #000000 !important;
    /* font-family: "OpenSans"; */
}

.big-button--sign-in {
    position: absolute !important;
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #FFFFFF !important;
    /* Gray 1 */

    border: 1px solid #333333 !important;
    box-sizing: border-box !important;
    border-radius: 12px !important;
}

.big-button--register {
    position: absolute !important;
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #AE956D !important;
    color: #FFFFFF !important;
    border-radius: 12px !important;
}


.big-button--continue {
    position: absolute !important;
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    color: #FFFFFF !important;
    border-radius: 12px !important;
}

.divider {
    border-top: 3px solid;
    width: 100%;
}

.menu-item {
    position: relative;
    border-radius: 50px !important;
}

.menu-item--photo {
    /* position: relative; */
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    height: 375px !important;
}

.menu-item--title {
    font-weight: bold !important;
    font-size: 20px !important;
    margin-bottom: 0px !important;
}

.menu-item--text {
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.menu-item-dialog {
    height: 100% !important;
}

.margin-center
{
    margin-left:5% !important;
}

.boldText {
    font-weight : bold;
}

.small-button-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-button {
    width: 100%;
    height: 60px;
}


.icon-whatsapp {
    font-size: 34px;
    color: #25D366;
}

/* #notif {
    transition: 900ms all ease;
    opacity: 0;
    will-change: opacity;
}

.show-notif {
    opacity: 1;
} */

.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
  }
  
  .alert-hidden {
    display: none;
    opacity: 0;
    transition: all 250ms linear;
  }

.zomato-review--title {
    margin-top: 5%;
}