body {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
}

.btn-primary {
    color: #fff;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.form-control {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #000000 !important;
}

.nav-tabs {
    font-size: 12px !important;
    padding: 0px !important;
    margin-bottom: 10px !important;
}

.nav-tabs .nav-link {
    color: #727272 !important;
}

.nav-link:hover {
    border: none !important;
}

.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-radius: 20px !important;
    display: inline-block;
    width: auto;
    height: auto;
    box-sizing: border-box !important;
}

/* .navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  border-radius: 0px;
} */

.navbar-toggler {
    color: #ffffff !important;
    border: none !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
    text-align: center !important;
}

/* .nav-fullscreen{
    position: absolute;
		display: flex;
    z-index: 800;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
		opacity: 0;
		visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5); 
    transition: opacity 0.2s, visibility 0.2s;
} */

.navbar-brand {
    color: #ffffff !important;
    font-size: 25px !important;
}

.navbar-nav {
    color: #918585 !important;
    font-size: 18px;
}

.bg-black {
    background-color: #000000 !important;
}

/* #basic-navbar-nav { */
    /* height: 100vh !important; */
    /* max-height: none; */
    /* position:fixed; */
/* } */

.navbar-toggle.collapsed .icon:before {
    content: '\f00d' !important;
}

.layout--background {
    background: url(../styles/assets/bg-app2.jpg) no-repeat center center fixed;
    background-size: auto 100%;;
}

.container-home {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.layout--padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

/* Add padding to the container*/
.layout--padding--menu {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
}

/* Add padding to the container in admin menu tab*/
.layout--pading--admin-menu {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.layout--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Spacing between menu item in client*/
.layout--menu {
    margin-bottom: 5%;
}
.title {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 5vh !important;
}
.l-center {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.l-home--title {
    font-size: 100px;
}

.l-home {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 25%;
}
.l-reserve {
    margin-top: 3vh;
}

.l-home__row {
    height: 75px;
    width: auto;
}

.l-home__row__title {
    /* height: 200px;
    position: absolute; */
    width: 267px;
    background: url(../styles/assets/logo.png) no-repeat !important;
}

.l-reserve__row {
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    word-wrap: normal;
}
.l-reserve__row--small {
    padding-left: 50px;
    padding-right: 50px;
    word-wrap: normal;
}

.l-reserve-details__row {
    font-size: 20px;
}


.big-button {
    width: 263px;
    height: 52px;
}
.big-button--text {
    font-size: 14px !important;
    color: #000000 !important;
    /* font-family: "OpenSans"; */
}

.big-button--sign-in {
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #FFFFFF !important;
    /* Gray 1 */

    border: 1px solid #333333 !important;
    border-radius: 12px !important;
}

.big-button--register {
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #AE956D !important;
    color: #FFFFFF !important;
    border-radius: 12px !important;
    border-color:  #AE956D !important;
}


.big-button--continue {
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #CDCCC8 !important;
    color: #FFFFFF !important;
    border-radius: 12px !important;
    border-color: #CDCCC8 !important;
}

.divider {
    border-top: 3px solid;
    width: 100%;
}

.menu-item {
    position: relative;
    border-radius: 20px !important;
}

.menu-item--photo {
    /* position: relative; */
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    height: 375px !important;
}

.menu-item--title {
    font-weight: bold !important;
    font-size: 20px !important;
    margin-bottom: 2px !important;
}

.menu-item--text {
    font-size: 14px !important;
    margin-bottom: 10px !important;
}

.menu-item-dialog {
    height: 100% !important;
}

.margin-center
{
    margin-left:5% !important;
}

.boldText {
    font-weight : bold;
}

.small-button-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-button {
    width: 100%;
    height: 60px;
}


.icon-whatsapp {
    font-size: 34px;
    color: #25D366;
}

/* #notif {
    transition: 900ms all ease;
    opacity: 0;
    will-change: opacity;
}

.show-notif {
    opacity: 1;
} */

.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
  }
  
  .alert-hidden {
    display: none;
    opacity: 0;
    transition: all 250ms linear;
  }

.zomato-review--title {
    margin-top: 5%;
}

.star-ratings {
    margin-bottom: 5%;
}

.review-footer-text {
    margin-right: 5%;
}

.review-footer-text:hover {
    text-decoration: underline;
}
